* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1024px;
    margin: 20px auto 0 auto;
}

h1, h2 {
    color: green;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

h4 {
    color: darkblue;
    font-size: 15px;
}

p {
    color: rgba(36, 36, 36, 0.75);
    text-align: justify;
    margin-bottom: 18px;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 20px;
    position: relative;
}

.blog-post h5 {
    position: absolute;
    top: 15px;
    right: 20px;
}

.blog-post img {
    width: 200px;
    float: left;
}

.other-post {
    width: 25%;
    float: left;
    padding-top: 10px;
}

.other-post .post-box {
    margin-bottom: 20px;
    padding: 10px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.author-container {
    border-top: 1px solid lightgray;
    padding-top: 20px;
}

.author-container img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid lightgray;
    padding: 3px;
    float: left;
}

.author-container h4 {
    margin: 40px 0 0 20px;
    float: left;
    text-transform: uppercase;
}

